name: Ruby

on:
  push:
    branches:
      - '**'

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.2.2'
          - '3.1.2'

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run the default task
        run: bundle exec rake

      - name: Run Rubocop
        run: make lint

      - name: Require active_support
        run: require 'active_support/all'

      - name: Run Testing
        run: make testing


